$color1:  #ffffff;
$color2 : red;
$color3 : black;


body{
    background-color: $color1;

    #blogform{
        background-color: $color2;
        border-radius: 2px;
        color: $color3;
        h2{
            font-size: 22px;
        }
    }
}